<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <h3>Products</h3>
    <!-- row -->
    <div class="row">
      <!-- category1 -->
      <div class="col-md-4 col-xs-6" *ngFor="let cat of product">
        <div class="product">
          <div class="product-card">
            <!--<span class="sale">Sale</span>  <span class="sale">{{cat.name}}</span>--> <span
              class="price">{{cat.price}}€</span>
            <img [src]="cat.image" alt="" class="rounded img-fluid">

            <div class="buttons d-flex flex-row"> <button [routerLink]="['/product', cat.id]" class="cta-btn"
                class="btn">Show details <i class="fa fa-arrow-circle-right"></i></button> </div>
          </div>
        </div>

      </div>
    </div> 
  </div>
</div>
<!-- /SECTION -->