
<div class="container" style="margin-top: 50px;">
    <h6 style="margin-top: 50px;" class= "center">You can contact the developers team here:</h6>
    <div class="center" style="margin-top: 50px;">
        <table class="table" style="width: fit-content;">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Giada Gabriele</td>
                <td><a [href]="'mailto:gbrgdi97e49d086e@studenti.unical.it'">gbrgdi97e49d086e@studenti.unical.it</a></td>
                </tr>
                <tr>
                    <td>Mohamed Ahmed Mohamed Abdelzaher</td>
                    <td><a [href]="'mailto:bdlmmd97r01z33st@studenti.unical.it'">bdlmmd97r01z33st@studenti.unical.it</a></td>
                </tr>
                <tr>
                    <td>Antonio Rocco Spataro</td>
                    <td><a [href]="'mailto:sptnnr98h22c710j@studenti.unical.it'">sptnnr98h22c710j@studenti.unical.it</a></td>
                </tr>
                <tr>
                    <td>Tesfay Gebremeskel Chekole</td>
                    <td><a [href]="'mailto:chktfy91r24z315b@studenti.unical.it'">chktfy91r24z315b@studenti.unical.it</a></td>
                </tr>
                <tr>
                    <td>Gebreyowhans Hailekiros Bahre</td>
                    <td><a [href]="'mailto:bhrgry93h02z315p@studenti.unical.it'">bhrgry93h02z315p@studenti.unical.it</a></td>
                </tr>
                <tr>
                    <td>Beatrice Motta</td>
                    <td><a [href]="'mailto:mttbrc98c66i874e@studenti.unical.it'">mttbrc98c66i874e@studenti.unical.it</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>