.center {
    display: flex;
    justify-content: center;
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
  height: 650px;
	max-width: 100%;
	min-height: 480px;
    margin-top: 25px;
	margin-bottom: 25px;
    }