

<div class="modal-header">
    <h5 class="modal-title">Pay with credit card</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="paymentForm" (ngSubmit)="payWithCreditCard()">
      <div class="form-group">
        <label for="price">price</label>
        <input type="hidden" min="0" class="form-control" id="price" required
        formControlName="price" value="5" ><span><i class="fas fa-euro-sign"> {{obj.price}}€</i> </span>
        <small *ngIf="paymentForm.get('price').invalid" class="text-danger">price is required and must not be zero and less</small>
      </div>
  
      <!-- <div class="form-group">
        <label for="intent">intent</label>
        <input type="text" min="0" class="form-control" id="intent" required
        formControlName="intent" >
        <small *ngIf="paymentForm.get('intent').invalid" class="text-danger">intent is required</small>
      </div> -->
  
      <!-- <div class="form-group">
        <label for="currency">currency</label>
        <input type="text" min="0" class="form-control" id="currency" required
        formControlName="currency" >
        <small *ngIf="paymentForm.get('currency').invalid" class="text-danger">currency is required</small>
      </div> -->
  
      <!-- <div class="form-group">
        <label for="method">method</label>
        <input type="text" min="0" class="form-control" id="method" required
        formControlName="method" >
        <small *ngIf="paymentForm.get('method').invalid" class="text-danger">method is required</small>
      </div> -->
  
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" min="0" class="form-control" id="description" required
        formControlName="description" >
        <small *ngIf="paymentForm.get('description').invalid" class="text-danger">description is required</small>
      </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Cancel</button>
    <button type="submit" class="btn btn-success">Pay</button>
  </div>
    </form>
  </div>
  
<!-- 
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <p>
    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
  </p> -->
