@import "https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap";
body {
	background-color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}
.container {
	height: 100vh;
}
.product-card {
	position: relative;
	cursor: pointer;
	.sale {
		width: 100px;
		height: 30px;
		border-radius: 5px;
		background-color: #fff;
		color: red;
		padding: 10px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 10px;
		top: 10px;
		font-size: 14px;
	}
	.buttonEdit{
		opacity: 0;
		right: 10px;
		bottom: 6px;
		
	}
	.price {
		border-radius: 5px;
		color: red;
		padding: 10px;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 10px;
		top: 6px;
		font-size: 15px;
	}
	.buttons {
		opacity: 0;
		transition: all 0.5s;
	}
	&:hover {
		.buttons {
			opacity: 1;
		}
		.buttonEdit{
			opacity: 1;
			size: 23;
		}
	}
}
.buttons {
	position: absolute;
	left: 25%;
	bottom: 30px;
	button {
		margin: 0;
		margin-left: 7px;
		padding: 0 12px;
		font-weight: 300;
		background-color: #dc9814;
		border: none;
		height: 38px;
		margin-left: 10px;
		text-transform: uppercase;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 12px;
		&:hover {
			background-color: #404040;
		}
	}
}

.search {
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	padding: 10px;
}
