
<div class="container" id="container">

  
  <div class="form-container sign-in-container">    
    <form [formGroup]="formChangesSubscription" (ngSubmit)="onSubmit()">

    <h3>Create Account</h3>
			<div class="social-container">
				<a (click)="signInWithGoogle()" class="social"><i class="fa fa-google"></i></a>
      </div>

      <span>or use your email for registration</span>
      <input  formControlName="firstName" name="firstName"
      placeholder="First Name"
      ngModel required type="text"/>
      <span class="text-danger align-middle">

        <div *ngIf="submitted && f.firstName.errors" >
          <div   *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
        </span>
      <input  formControlName="lastName" name="lastName"
      placeholder="Last Name" ngModel
      required type="text"/>
      <span class="text-danger align-middle">

        <div *ngIf="submitted && f.lastName.errors" >
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
        </span>
      <input  formControlName="username" name="username"
      placeholder="Username" ngModel
      required type="text" />
      
      <span class="text-danger align-middle">

        <div *ngIf="submitted && f.username.errors" >
          <div *ngIf="f.username.errors.required">User name is required</div>
      </div>
        </span>
      <input  formControlName="email" name="email"
      placeholder="you@example.com" ngModel
      required type="text"/>
      <span class="text-danger align-middle">
        <div *ngIf="submitted && f.email.errors">

          <div *ngIf="f.email.errors.required">email is required</div>
          <div *ngIf="f.email.errors.email">Not a valid email</div>
        </div>
      </span>
      <input  formControlName="city" name="city"
      placeholder="City" ngModel formControlName="city" name="city"  [typeahead]="cities"  [typeaheadScrollable]="true" (typeaheadNoResults)="typeaheadNoResults($event)" [typeaheadOptionsInScrollableView]="5"
      required type="text"/>
      <span class="text-danger align-middle">
        <div *ngIf="submitted && f.email.errors">

         
        </div>
      </span>
      <input  formControlName="password" name="password" 
      placeholder="Password" ngModel type="password" required />
      <span class="text-danger align-middle">
        <div *ngIf="submitted && f.password.errors">

          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </span>
      <input formControlName="confirmPassword"
      name="confirmPassword" ngModel  placeholder="Confirm password" required type="password" />
      
      <span class="text-danger align-middle">
        <div *ngIf="submitted && !comparePassword">
        <i class="fa fa-close"> Passwords don't match</i>
      </div>
      </span>
      <button type="submit" >Sign Up</button>
		</form>
	</div>
  <div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us, if you are already registered you can just sign in</p>
				<a routerLink="/login"><button class="ghost">Sign in</button>
</a>
 			</div>
    </div>
    </div>
  </div>

  
