<!-- FOOTER -->
<footer id="footer">
  
  <div class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
					</span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
</footer>
<!-- /FOOTER -->
