<!-- HEADER -->
<header class="sticky-top">
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li *ngIf="!currentUser"><a routerLink="/login"><i class="fa fa-sign-in"></i> LOGIN</a></li>
        <li *ngIf="currentUser"><a routerLink="/profile"><i class="fa fa-sign-in"></i> My account</a></li>

        <li *ngIf="!currentUser"><a routerLink="/register"><i class="fa fa-user-plus"></i> REGISTER</a></li>
        <li *ngIf="currentUser"><a (click)="logout()"><i class="fa fa-user-plus"></i> LOGOUT</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">

        <!-- SEARCH BAR -->
        <div>
          <div class="header-search">
            <form (ngSubmit)="search()">
              <select class="input-select col-md-5" (change)="opt($event.target.value)">


                <option value="2">Products</option>
                <option value="1">Users</option>
                <option value="3">City</option>
              </select>

              <input (typeaheadOnSelect)="result()" [(ngModel)]="selected" name="sele" [typeahead]="list"  [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="5" (typeaheadNoResults)="typeaheadNoResults($event)" class="input col-md-5" placeholder="Search here ">
              <button class="search-btn col-md-2">Search</button>
              <div class="alert alert-danger" style="text-align: center;" *ngIf="noResult">No Results Found</div>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div style="margin-left: 263px;" class="col-md-3" *ngIf="currentUser">
          <button class="sell-button"  style="    margin-left: 80px; margin-bottom: 10px;" *ngIf="currentUser" routerLink="/create-product">Sell Product</button>
          <div class="header-ctn">
            <!-- Wishlist -->
            <ng-template #popTitle let-favorite="favorite"><a routerLink="/favorite">All Favorite</a></ng-template>

            <ng-template #popContent let-favorite="favorite" style="width: 150px">
                    <table class="table" style="width: fit-content;">
                        <tbody>
                            <tr *ngFor="let favorite of favorites" style ="width:150px">
                            <td>
                            <a [routerLink]  ="['/product', favorite.productId]"> {{ favorite.productId}}
                                <div id="product-imgs">
                                    <div class="product-preview">
                                        <img [src]="favorite.image" alt="{{favorite.productId}}">
                                    </div>
                                </div>
                            </a>
                            </td>
                            <td>
                              <a routerLink="/favorite" (click)="deleteFavorite(favorite.id)"> <i class="fa fa-trash-o"> </i></a>
                            </td>
                            </tr>
                        </tbody>
                    </table>
            </ng-template>
            <div>
              <a href="javascript: void(0)">
                <i class="fa fa-heart-o" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="bottom"
              triggers="manual" data-toggle="popover" #p1="ngbPopover" (click)="toggleMessage(p1)"></i>
                <div class="qty">{{favLength}}</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <ng-template #popTitleNotifi let-notification="notification"><a routerLink="/notification" (onclick)="notificationList()">Notification</a></ng-template>

            <ng-template #popContentNotifi let-notification="notification" style="width: 150px">
                    <table class="table" style="width: fit-content;">
                        <tbody>
                            <tr *ngFor="let notification of notifications" style ="width:150px">
                            <td>
                            <a [routerLink]  ="['/user',notification.userOfRequest.username]"> 
                                <div id="product-imgs">
                                        <small>{{notification.userOfRequest.username}} wants to call you</small>
                                  
                                </div>
                            </a>
                            </td>
                            <td>
                              <a  (click)="acceptNotification(notification)"> <i class="fa fa-check"> </i></a>
                              <a  (click)="deleteNotification(notification)"> <i class="fa fa-ban"> </i></a>
                            </td>
                            </tr>
                        </tbody>
                    </table>
            </ng-template>
            <div>
              <a href="javascript: void(0)">
                <i class="fa fa-bell" [ngbPopover]="popContentNotifi" [popoverTitle]="popTitleNotifi" placement="bottom"
              triggers="manual" data-toggle="popover" #p3="ngbPopover" (click)="toggleMessage(p3)"></i>
                <div class="qty">{{notifiLength}}</div>
              </a>
            </div>
            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li><a routerLink="/">Homepage</a></li>
        <li><a routerLink="/message" >Message</a></li>
        <li><a routerLink="/calls">Calls</a></li>
        <li><a routerLink="/personalization" >Personalization</a></li>
        <li><a routerLink="/contact" >Contact Us</a></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->
