<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- category1 -->
      <div class="col-md-4 col-xs-6" *ngFor="let cat of category">
        <div class="shop">
          <div class="shop-img">
            <img [src]="cat.image" alt="">
          </div>
          <div class="shop-body">
            <h3>{{cat.category}}</h3>
           <!-- <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>-->
           <button class="cta-btn" class="btn"  (click)="navigate(cat.category)">SHOP NOW  <i class="fa fa-arrow-circle-right"></i></button>
          </div>
        </div>
      </div>
      <!-- /category1 -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

</div>
<!-- /SECTION -->
