/*.badge.badge-outline.badge-dark {
  border-color: #324148;
  color: #324148;
}
.badge.badge-outline {
  background: transparent;
  border: 2px solid;
}
.badge {
  font-weight: 500;
  border-radius: 4px;
  padding: 5px 7px;
  font-size: 72%;
  letter-spacing: 0.3px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
}

.card {
  width: 100%;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.form-control {
  color: #324148;
  border-width: 2px;
  border-color: #eaecec;
  padding: 0.375rem 0.75rem;
  height: calc(2.25rem + 4px);
}

#datepickeDob:hover {
  cursor: pointer;
}

#profpicfile {
  display: none;
}

.loading {
  margin: 10% 0 0 50%;
}

#profile-img-btn {
  margin: 5px 0 0 auto;
  border: 2px solid #000;
}

#profile-img-btn input {
  display: none;
}

@media all and (max-width: 480px) {
  .btn-custom-class {
      width: 100%;
      display: block;
  }
  img {
      width: 100%;
  }
  //#profile-img-btn a {
      width: 100%;
  }
}
*/
body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
  }
  .main-body {
    padding: 15px;
  }
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  
  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }
  .mb-3, .my-3 {
    margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
    background-color: #e2e8f0;
  }
  .h-100 {
    height: 100%!important;
  }
  .shadow-none {
    box-shadow: none!important;
  }
  ::ng-deep .dropdown-menu {
    min-width: 95% !important;
  }
  
  ::ng-deep typeahead-container {
    width: 95% !important;
  }