
<div *ngIf="!isDataLoaded">
<div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>
<div *ngIf="isDataLoaded">
<div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-body">


    <!-- Modal -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{this.usertoview.profilePic}}" alt="profile pic" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{this.usertoview.username}}</h4>
                <!--    <p class="text-secondary mb-1">small smille </p>-->
                <p class="text-muted font-size-sm">{{this.usertoview.address}}</p>
                <!--   <button style="margin-right: 9px;" class="btn btn-primary ">Follow</button> -->

                <!--   <button class="btn btn-outline-primary">Message</button> -->
              </div>
              <div class="product-details">
                <div class="add-to-cart" style="margin-top: 10px;">
                  <div>
                    <a href="javascript: void(0)"> <button class="add-to-cart-btn" (click)="openMessageModal()"><i
                          class="fa fa-envelope"></i> Send message</button></a>
                         <div *ngIf="!ban">
                          <div  *ngIf="canRequest">
                            <div  *ngIf="request">
                            <button class="add-to-cart-btn" style="margin-top: 4px;" (click)="requestPhoneNumber()"><i
                              class="fa fa-phone"></i> Request phone number</button>
                            </div>
                            <div  *ngIf="!request">
                              <button class="btn" disabled ><i
                                class="fa fa-phone"></i> Request Sent</button>
                                <div  *ngIf="canSeeNumber">
                                and accepted
                                </div>     
                              </div>
                          </div>
                          <div  *ngIf="!canRequest">
                              <button class="btn" disabled ><i
                                class="fa fa-phone"></i> Call request cant be sent, this user dosn't recive calls</button>
                              </div>
                          </div>
                        </div>
                        <div *ngIf="ban">

                          <button class="btn" disabled ><i
                            class="fa fa-phone"></i> Call request cant be sent, you have been banned from this func.</button>
                         
                        </div>
                </div>
              </div>
              <div class="mt-3">
                <!--<button class="btn btn-outline-primary  btn-lg btn-block ">Change profile pic</button>!-->


              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">


            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">




                {{this.usertoview.firstName}}{{this.usertoview.lastName}}
              </div>
            </div>
            <hr>





            <!--<div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">


                {{this.usertoview.email}}

              </div>
            </div>
            <hr>-->

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone number</h6>
              </div>
              <div class="col-sm-9 text-secondary">

                <div *ngIf="canSeeNumber">
                {{this.usertoview.phoneNumber}}
                </div>

                <div *ngIf="!canSeeNumber">
                  *************
                  </div>
                  
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">


                {{this.usertoview.address}}

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">City</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{this.usertoview.city.name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">


              </div>
            </div>

          </div>
        </div>

        <div style="text-align: center;">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="30"
                    height="30" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path
                      d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                    <path
                      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg> Products </h6>
                <hr>
                <div class=" align-items-center text-center">
                  <img src="/assets/img/shopping.svg" class="rounded-circle" width="150" height="179">
                  <button class=" btn btn-outline-primary btn-sm btn-block"
                    [routerLink]="['/usersproducts', this.usertoview.id]">show all</button>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>

    </div>
  </div>
</div>
</div>