<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <h3>Favorites List</h3>
    <!-- row -->
    <div class="row">
      <!-- category1 -->
      <div class="col-md-4 col-xs-6"*ngFor="let favorite of favorites">
        <div class="shop">
          <div class="shop-img">
            <img [src]="favorite.image" alt="redsdsd">
          </div>
          <div class="shop-body">
            <h3>{{favorite.name}}</h3>
           <!-- <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>-->
           <button [routerLink]  ="['/product', favorite.productId]" class="cta-btn" class="btn">SHOP NOW  <i class="fa fa-arrow-circle-right"></i></button>
          </div>
          <div class="shop-body" style ="margin-top:15%">
            <h3>{{favorite.name}}</h3>
           <!-- <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>-->
           <button routerLink="/favorite" (click)="deleteFavorite(favorite.id)" class="cta-btn" class="btn"> Remove <i class="fa fa-arrow-circle-left"></i></button>
          </div>
        </div>
      </div>
      <!-- /category1 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

