<div class="section">
    <!-- container -->
    <div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">User</th>
    <th scope="col">status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let noti of notifications; let i=index">
    <th scope="row">{{ i+1 }}</th>
    <td>
      <img src= "{{ noti.userOfRequest.profilePic }}" class="mr-2" style="width: 20px">
        {{ noti.userOfRequest.username }}
    </td>
        <td *ngIf="noti.status==0">waiting</td>
        <td *ngIf="noti.status==0">
            <a  (click)="acceptNotification(noti)"> <i class="fa fa-check"> </i></a>
            <a  (click)="deleteNotification(noti)"> <i class="fa fa-ban"> </i></a>
        
        </td>

    
        <td  *ngIf="noti.status==2" >Denied</td>
        <td *ngIf="noti.status==2">
        
        <a  (click)="acceptNotification(noti)"> <i class="fa fa-check"> </i></a>

        <td *ngIf="noti.status==1">Accepted</td>
    
        <td  *ngIf="noti.status==1">
            <a  (click)="deleteNotification(noti)"> <i class="fa fa-ban"> </i></a>
            <a  (click)="report(noti)"> <i class="fa fa-flag"> </i></a>

        </td>
   

   
  </tr>
  </tbody>
</table>
    
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="notifiLength" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshNotifications()">
  </ngb-pagination>

 
</div>
    </div>
</div>

