<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <!-- <li><a href="#">Product Home</a></li>
                    <li><a href="#">All Categories</a></li> -->

                    <li class="active"></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <ng-template [ngIf]="thumbImages.length === 0">
                        <div class="product-preview">
                            <img [src]="product.image" alt="{{product.name}}">
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="thumbImages.length > 0">
                        <div class="product-preview" *ngFor="let t of thumbImages">
                            <img [src]="product.image" alt="{{product.name}}">
                        </div>
                    </ng-template>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <ng-template [ngIf]="thumbImages.length > 0">
                    <div id="product-imgs">
                        <div class="product-preview" *ngFor="let t of thumbImages">
                            <img [src]="product.image" alt="{{product.name}}">
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngIf]="thumbImages.length === 0">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img [src]="product.image" alt="{{product.name}}">
                        </div>
                    </div>
                </ng-template>

            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{product.name}}</h2>
                    <!-- <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="#">10 Review(s) | Add your review</a>
                    </div> -->
                    <div>
                        <h3 class="product-price">{{product.price}}€</h3>
                    </div>
                    <p style="margin-bottom: 20px;">{{product.brand}}, {{product.color}} {{product.size}}</p>

                    <p>
                        {{product.description}}
                    </p>


                   <!-- <div class="qty-label" style="width: fit-content;">
                        Qty
                        <div class="input-number">
                            <input type="number" [max]="product?.quantity >=1 ? product?.quantity : 0" min="1" readonly #quantity value="{{product?.quantity >= 1 ? 1: 0}}">
                            <span class="qty-up" (click)="Increase()">+</span>
                            <span class="qty-down" (click)="Decrease()">-</span>
                        </div>
                    </div>-->



                    <ul class="product-btns" *ngIf="flag==false && !(product.userId===idForCheckingBuy)">
                        <div *ngIf="isFavorite"><li><a><i class="fa fa-heart"></i> Favorite Added</a></li> </div>
                        <!-- <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li> -->
                         <div *ngIf="!isFavorite"> <li><a href="javascript:void(0)" (click)="onSave(product.id)">
                        <i class="fa fa-heart green-color"></i> add to Favorites List</a></li> </div>
                    </ul>
                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a [routerLink]  ="['/', product.category]">{{product.category}}</a></li>
                    </ul>
                    <ul class="product-links">
                        <li>Seller id:</li>
                        <li>{{product.userId}}</li>
                    </ul>

                    <div class="add-to-cart" style="margin-top: 10px;">
                        <div *ngIf="flag" style="margin-top: 20px;">
                            <h2>SOLD</h2>
                         </div>
                        <div *ngIf="flag==false && !(product.userId===idForCheckingBuy)">
                            <a href="javascript: void(0)"> <button class="add-to-cart-btn" (click)="openMessageModal()"><i class="fa fa-envelope"></i> Send message</button></a>
                        </div>
                        <div *ngIf="flag==false && !(product.userId===idForCheckingBuy)" style="margin-top: 10px;">
                            <a [routerLink]="['/purchase', product.id]" > <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Buy</button></a>
                        </div>
                    </div>




                    <!-- <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul> -->

                </div>
            </div>
            <!-- /Product details -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
