
<div class="container">
    <p style="margin-bottom: 20px;">You want to buy this product:<img [src]="product.image"></p>
    <div class="product-details">
        <p><b>{{product.name}}</b></p>
        <p>{{product.brand}}, {{product.color}} {{product.size}}</p>
        <p>{{product.description}}</p>
        <p><b>Price: </b> <i class="fas fa-euro-sign"></i>{{product.price}}€</p>

       

        <div class="row">
            <div class="add-to-cart">
                <a>
                    <button type="button" class="add-to-cart-btn" (click)="openPaypalModal()">
                        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                    Paypal</button>
                </a>
            </div>
            &nbsp;
            <div class="add-to-cart">
                <a>
                    <button type="button" class="add-to-cart-btn" (click)="openCreditCardModal()">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    Credit Card</button>
                </a>
            </div>

        </div>
       
    </div>
</div>