
 <div class="modal-header">
  <h5 class="modal-title">Pay with paypal</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="paymentForm" (ngSubmit)="paymentWithPayPal()">
    <div class="form-group">
      <label for="price">price</label>
      <input type="hidden" min="0" class="form-control" id="price" disabled required
      formControlName="price" value="5" ><span><i class="fas fa-euro-sign"> {{this.obj.price}}€</i> </span>
      <small *ngIf="paymentForm.get('price').invalid" class="text-danger">price is required and must not be zero and less</small>
    </div>


    <!-- <div class="form-group">
      <label for="productID">Product ID</label>
      <input type="hidden" min="0" class="form-control" id="productID" disabled required
      formControlName="productID" value="5" ><span><i class="fas fa-euro-sign"> {{this.id.id}}</i> </span>
      <small *ngIf="paymentForm.get('productID').invalid" class="text-danger">price is required and must not be zero and less</small>
    </div> -->

    <!-- <div class="form-group">
      <label for="intent">intent</label>
      <input type="hidden" min="0" class="form-control" id="intent" disabled required
      formControlName="intent" >
      <small *ngIf="paymentForm.get('intent').invalid" class="text-danger">intent is required</small>
    </div> -->

    <!-- <div class="form-group">
      <label for="currency">currency</label>
      <input type="hidden" min="0" class="form-control" id="currency" disabled required
      formControlName="currency" >
      <small *ngIf="paymentForm.get('currency').invalid" class="text-danger">currency is required</small>
    </div> -->

    <!-- <div class="form-group">
      <label for="method">method</label>
      <input type="hidden" min="0" class="form-control" id="method" disabled required
      formControlName="method" >
      <small *ngIf="paymentForm.get('method').invalid" class="text-danger">method is required</small>
    </div> -->

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" min="0" class="form-control" id="description" required
      formControlName="description" >
      <small *ngIf="paymentForm.get('description').invalid" class="text-danger">description is required</small>
    </div>

    
    
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Cancel</button>
  <button type="submit" class="btn btn-success">Pay</button>
</div>
  </form>
</div>