<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <div >
      <table class="table" style="width: 100%">
        <tbody>
          <tr> <td> Product ID </td> <td> Price</td> <td> Payment Method </td><td> Description </td> <td> Date </td> </tr>
          <tr *ngFor="let inbo of payHistory" style ="width:900px">
              <td>
                <div id="product-imgs">
                    <div class="product-preview">
                    {{inbo.productID}}
                    </div>
                </div>
              </td>
              <td>
                {{inbo.price}} €
              </td>
              <td>
                {{inbo.method}}
              </td>
              <td>
                {{inbo.description}}
              </td>
              <td>
                {{inbo.paymentDate}}
              </td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
