<div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="main-body">


    <!-- Modal -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{this.myUser.profilePic}}" alt="profile pic" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{this.myUser.username}}</h4>
                <!--    <p class="text-secondary mb-1">small smille </p>-->
                <p class="text-muted font-size-sm">{{this.myUser.address}}</p>
                <!--   <button style="margin-right: 9px;" class="btn btn-primary ">Follow</button> -->

                <!--   <button class="btn btn-outline-primary">Message</button> -->
              </div>
              <div class="mt-3">
                <!--<button class="btn btn-outline-primary  btn-lg btn-block ">Change profile pic</button>!-->


              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <form [formGroup]="formProfile">
              <div *ngIf="!isEditable">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">




                    {{this.myUser.firstName}}{{this.myUser.lastName}}
                  </div>
                </div>
                <hr>
              </div>

              <div *ngIf="isEditable">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">First Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">


                    <input mdbInput formControlName="firstName" name="firstName" [(ngModel)]="myUser.firstName" required
                      type="text" class="form-control">
                    <span class="text-danger align-middle">

                      <div *ngIf="submitted && f.firstName.errors">
                        <div style="text-align: center;" *ngIf="f.firstName.errors.required">First Name is required
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
                <hr>
              </div>
              <div *ngIf="isEditable">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Last Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">


                    <input mdbInput formControlName="lastName" name="lastName" [(ngModel)]="myUser.lastName" required
                      type="text" class="form-control">
                    <span class="text-danger align-middle">

                      <div *ngIf="submitted && f.lastName.errors">
                        <div style="text-align: center;" *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                    </span>
                  </div>
                </div>
                <hr>
              </div>
              <div *ngIf="isEditable">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">


                    <input mdbInput formControlName="username" name="username" [(ngModel)]="myUser.username" required
                      type="text" class="form-control">
                    <span class="text-danger align-middle">

                      <div *ngIf="submitted && f.username.errors">
                        <div style="text-align: center;" *ngIf="f.username.errors.required">Username is required</div>
                        <div style="text-align: center;" *ngIf="f.username.errors.minlength"> Username must be at least
                          6 characters</div>

                      </div>
                    </span>
                  </div>
                </div>
                <hr>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <div *ngIf="isEditable">
                    <input mdbInput formControlName="email" name="email" [(ngModel)]="myUser.email" required type="text"
                      class="form-control">
                    <span class="text-danger align-middle">
                      <div *ngIf="submitted && f.email.errors">

                        <div style="text-align: center;" *ngIf="f.email.errors.required">email is required</div>
                        <div style="text-align: center;" *ngIf="f.email.errors.email">Not a valid email</div>
                      </div>
                    </span>
                  </div>
                  <div *ngIf="!isEditable">
                    {{this.myUser.email}}
                  </div>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <div *ngIf="isEditable">
                    <input mdbInput formControlName="phoneNumber" name="phoneNumber" [(ngModel)]="myUser.phoneNumber"
                      type="number" class="form-control">

                  </div>
                  <div *ngIf="!isEditable">
                    {{this.myUser.phoneNumber}}
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <div *ngIf="isEditable">
                    <input mdbInput formControlName="address" name="address" [(ngModel)]="myUser.address" required
                      type="text" class="form-control">
                    <span class="text-danger align-middle">
                      <div *ngIf="submitted && f.address.errors">

                        <div style="text-align: center;" *ngIf="f.address.errors.minlength"> Address must be at least 12
                          characters</div>
                      </div>
                    </span>
                  </div>
                  <div *ngIf="!isEditable">
                    {{this.myUser.address}}
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <div *ngIf="isEditable">
                    <div *ngIf="this.myUser.city!=undefined">
                      <input class="form-control" (ngModelChange)="setCity()" mdbInput formControlName="city"
                        name="city" [(ngModel)]="myUser.city.name" [typeahead]="cities" [typeaheadScrollable]="true"
                        (typeaheadNoResults)="typeaheadNoResults($event)" [typeaheadOptionsInScrollableView]="5"
                        placeholder="Search here">


                    </div>
                  </div>
                  <div *ngIf="!isEditable">
                    <div *ngIf="this.myUser.city!=undefined">
                      {{this.myUser.city.name}}
                    </div>

                  </div>
                </div>
              </div>
              <hr>
              <div *ngIf="isEditable">
                <div>
                  <h6 class="mb-0">Photo</h6>
                  <input type="file"
                  formControlName="profilePic" name="profilePic" [(ngModel)]="myUser.profilePic"
                    placeholder="Profile pic">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <div *ngIf="!isEditable">
                    <button class="btn btn-info" (click)="edit()">{{button}}</button>
                  </div>
                  <div style="text-align: center" *ngIf="isEditable">
                    <button style="margin-right: 10px;" class="btn btn-info" (click)="save()">Save</button>
                    <button class="btn btn-outline-info" (click)="cancel()">Cancel</button>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">

                <div class=" align-items-center text-center">
                  <img src="/assets/img/shopping4.svg" class="rounded-circle" width="150" height="179">

                  <div class="mt-3">
                    <button class=" btn btn-outline-primary btn-sm btn-block" routerLink="/paymenthistory">Payment history</button>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">

                <div class=" align-items-center text-center">
                  <img src="/assets/img/shopping.svg" class="rounded-circle" width="150" height="179">

                  <div class="mt-3">
                    <button class=" btn btn-outline-primary btn-sm btn-block" routerLink="/myproducts"> My sales</button>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>