<div class="container my-3">
  
    <form >
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Personalization</h2>
          <hr>
        </div>
      </div>
     
    <div class="row">
     <div class="col-md-3 field-label-responsive">
        <label for="aboutclothes"><h5>About You</h5></label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <form class="formPersonalization">
               <div class="input-group-prepend" style="width: 2.6rem"></div>
                <input type="checkbox" id="female" name="female" value="Female">
                <label for="female" > Female </label><br>
                <input type="checkbox" id="male" name="male" value="Male">
                <label for="male"> Male </label><br>
                <input type="checkbox" id="notspecify" name="notspecify" value="notspecify">
                <label for="notspecify"> Prefer not to say </label><br>
                
              </form> 
              
            </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="size"><h5>About Clothes</h5></label>
          </div>
  
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
         
        <form>

             <input type="checkbox" id="xxs" name="size_xxs" (click)="addDelChoice('clothes','xxs')"  value="size_xxs">
             <label for="xxs"> XXS / IT 36 / EU 32 </label><br>

             <input type="checkbox" id="xs" name="size_xs" (click)="addDelChoice('clothes','xs')" value="size_xs">
             <label for="xs"> XS / IT 38 / EU 34 </label><br>

             <input type="checkbox" id="s" name="size_s" (click)="addDelChoice('clothes','s')" value="size_s">
             <label for="s"> S / IT 40 / EU 36 </label><br>
        
             <input type="checkbox" id="m" name="size_m" (click)="addDelChoice('clothes','m')" value="size_m">
             <label for="m"> M / IT 42 / EU 38 </label><br>
        
             <input type="checkbox" id="l" name="size_l" (click)="addDelChoice('clothes','l')" value="size_l">
             <label for="l"> L / IT 44 / EU 40 </label><br>
        
             <input type="checkbox" id="xl" name="size_xl" (click)="addDelChoice('clothes','xl')" value="size_xl">
             <label for="xl"> XL / IT 46 / EU 42 </label><br>
        
             <input type="checkbox" id="xxl" name="size_xxl" (click)="addDelChoice('clothes','xxl')" value="size_xxl">
             <label for="xxl"> XXL / IT 48 / EU 44 </label><br>

             <input type="checkbox" id="xxxl" name="size_xxxl" (click)="addDelChoice('clothes','xxxl')" value="size_xxxl">
             <label for="xxxl"> XXXL / IT 50 / EU 36 </label><br>
           
          </form> 
          </div>
        </div>
       </div> 
      </div>
  

     
      
    
      <div class="row">

        <div class="col-md-3 field-label-responsive">
           <label for="aboutshoes"><h5>About Shoes</h5></label>
           </div>

           
           <div class="col-md-6">
             <div class="form-group">
               <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                 
                <form>
                    <input type="checkbox" id="35" name="size_35" (click)="addDelChoice('shoes','35')" value="size_35" >
                    <label for="35"> 35&#160;&#160;</label><br>
    
                    <input type="checkbox"  id="36" name="size_36" (click)="addDelChoice('shoes','36')" value="size_36">
                    <label for="36"> 36&#160;&#160;</label><br>
    
                    <input type="checkbox" id="37" name="size_37" (click)="addDelChoice('shoes','37')" value="size_37">
                    <label for="37"> 37&#160;&#160;</label><br>
                
                    <input type="checkbox" id="38" name="size_38" (click)="addDelChoice('shoes','38')" value="size_38">
                    <label for="38"> 38&#160;&#160;</label><br>
                
                    <input type="checkbox" id="39" name="size_39" (click)="addDelChoice('shoes','39')" value="size_39">
                    <label for="39"> 39&#160;&#160;</label><br>
                
                    <input type="checkbox" id="40" name="size_40" (click)="addDelChoice('shoes','40')" value="size_40">
                    <label for="40"> 40&#160;&#160;</label><br>
                
        
                </form>
            
                <form>
                    
                    <input type="checkbox" id="41" name="size_41" (click)="addDelChoice('shoes','41')" value="size_41">
                    <label for="41"> 41&#160;</label><br>
    
                    <input type="checkbox" id="42" name="size_42" (click)="addDelChoice('shoes','42')" value="size_42">
                    <label for="42"> 42&#160;</label><br>
                    
                    <input type="checkbox" id="43" name="size_43" (click)="addDelChoice('shoes','43')" value="size_43">
                    <label for="43"> 43&#160;</label><br>
    
                    <input type="checkbox" id="44" name="size_44" (click)="addDelChoice('shoes','44')" value="size_44">
                    <label for="44"> 44&#160;</label><br>
    
                    <input type="checkbox" id="45" name="size_45" (click)="addDelChoice('shoes','45')" value="size_45">
                    <label for="45"> 45&#160;</label><br>
    
                    <input type="checkbox" id="46" name="size_46" (click)="addDelChoice('shoes','46')" value="size_46">
                    <label for="46"> 46&#160;</label><br>
                </form>
                   
                
                <form style="margin-left: 5em;">
                    <input type="checkbox" id="canvas" name="canvas" (click)="addDelChoice('shoes','canvas')" value="canvas5" >
                    <label for="canvas"> Canvas </label><br>
    
                    <input type="checkbox" id="leather" name="leather" (click)="addDelChoice('shoes','leather')" value="leather">
                    <label for="leather"> Leather </label><br>
    
                    <input type="checkbox" id="nylon" name="nylon" (click)="addDelChoice('shoes','nylon')" value="nylon">
                    <label for="nylon"> Nylon </label><br>
                
                    <input type="checkbox" id="suede" name="suede" (click)="addDelChoice('shoes','suede')"value="suede">
                    <label for="suede"> Suede </label><br>
                
                    <input type="checkbox" id="EVA" name="EVA" (click)="addDelChoice('shoes','EVA')" value="EVA">
                    <label for="EVA"> EVA </label><br>
        
                </form>
           </div>
          </div>
         </div>
        </div>     
  

        
                 
        <div class="row">
            <div class="col-md-3 field-label-responsive">
               <label for="aboutcooking"><h5>About Accessories</h5></label>
               </div>
            
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     
                    <form>
                        <div class="input-group-prepend" style="width: 2.6rem"></div>
                        
                            <input type="checkbox" id="ring" name="ring"(click)="addDelChoice('accessories','ring')" value="ring" >
                            <label for="ring"> Ring </label><br>
            
                            <input type="checkbox" id="necklace" name="necklace" (click)="addDelChoice('accessories','necklace')" value="necklace">
                            <label for="necklace"> Necklace </label><br>
            
                            <input type="checkbox" id="bracelet" name="bracelet" (click)="addDelChoice('accessories','bracelet')" value="bracelet">
                            <label for="bracelet"> Bracelet </label><br>
                        
                            <input type="checkbox" id="bag" name="bag" (click)="addDelChoice('accessories','bag')" value="bag">
                            <label for="bag"> Bag </label><br>
                    
                    </form>                  
               </div>
              </div>
             </div>
            </div>     
  
  
        <div class="row">

            <div class="col-md-3 field-label-responsive">
               <label for="aboutcooking"><h5>About Cooking</h5></label>
               </div>
    
               
               <div class="col-md-6">
                 <div class="form-group">
                   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     
                    <form>
                            <input type="checkbox" id="steel" name="steel" (click)="addDelChoice('cook','steel')" value="steel" >
                            <label for="steel"> Steel </label><br>
            
                            <input type="checkbox" id="aluminum" name="aluminum" (click)="addDelChoice('cook','aluminum')" value="aluminum">
                            <label for="aluminum"> Aluminum </label><br>
            
                            <input type="checkbox" id="ceramic" name="ceramic" (click)="addDelChoice('cook','ceramic')"  value="ceramic">
                            <label for="ceramic"> Ceramic </label><br>
                        
                            <input type="checkbox" id="copper" name="copper" (click)="addDelChoice('cook','copper')"  value="copper">
                            <label for="copper"> Copper </label><br>
                        
                            <input type="checkbox" id="brass" name="brass" (click)="addDelChoice('cook','brass')"  value="brass">
                            <label for="brass"> Brass </label><br>
                            

                            <input type="checkbox" id="glass" name="glass" (click)="addDelChoice('cook','glass')"  value="glass">
                            <label for="glass"> Glass </label><br>
                        
                    </form>                  
               </div>
              </div>
             </div>
            </div>    


            <div class="row">
                <div class="col-md-3 field-label-responsive">
                   <label for="aboutcooking"><h5>About Technology </h5></label>
                   </div>
                
                   <div class="col-md-6">
                     <div class="form-group">
                       <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                        <form>
                            <div class="input-group-prepend" style="width: 2.6rem"></div>
                            
                                <input type="checkbox" id="computer" name="computer" (click)="addDelChoice('technology','computer')"value="computer" >
                                <label for="computer"> Computer </label><br>
                
                                <input type="checkbox" id="smartphone" name="smartphone" (click)="addDelChoice('technology','smartphone')" value="smartphone">
                                <label for="smartphone"> Smartphone </label><br>
                
                                <input type="checkbox" id="tablet" name="tablet" (click)="addDelChoice('technology','tablet')" value="tablet">
                                <label for="tablet"> Tablet </label><br>
                            
                                <input type="checkbox" id="desktop" name="desktop" (click)="addDelChoice('technology','desktop')" value="desktop">
                                <label for="desktop"> Desktop </label><br>
                        
                        </form>                  
                   </div>
                  </div>
                 </div>
                </div>     
      
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                       <label for="aboutbook"><h5>About Book </h5></label>
                       </div>
                    
                       <div class="col-md-6">
                         <div class="form-group">
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                             
                            <form>
                                
                                
                                    <input type="checkbox" id="art" name="art" (click)="addDelChoice('books','art')" value="art" >
                                    <label for="art"> Art, cinema and photography </label><br>
                    
                                    <input type="checkbox" id="family" name="family" (click)="addDelChoice('books','family')"  value="family">
                                    <label for="family"> Family </label><br>
                    
                                    <input type="checkbox" id="science_fiction" (click)="addDelChoice('books','science_fiction')" name="science_fiction" value="science_fiction">
                                    <label for="science_fiction"> Science fiction </label><br>
                                
                                    <input type="checkbox" id="comics_manga" name="comics_manga" (click)="addDelChoice('books','comics_manga')"value="comics_manga">
                                    <label for="comics_manga"> Comics and manga </label><br>

                                    <input type="checkbox" id="history" name="history" (click)="addDelChoice('books','history')" value="history">
                                    <label for="history"> History </label><br>

                                    <input type="checkbox" id="novel" name="novel" (click)="addDelChoice('books','Novel')" value="novel">
                                    <label for="novel"> Novel </label><br>

                                    <input type="checkbox" id="thiriller" name="thiriller" (click)="addDelChoice('books','thiriller')" value="thiriller">
                                    <label for="thiriller"> Thriller </label><br>

                                  
                            
                            </form>   
                        
                    <form style="margin-left: 5em;">
                            <input type="checkbox" id="chinese" name="chinese" value="chinese" >
                            <label for="chinese"> Chinese </label><br>
            
                            <input type="checkbox" id="italian" name="italian" value="italian">
                            <label for="italian"> Italian </label><br>
            
                            <input type="checkbox" id="french" name="french" value="french">
                            <label for="french"> French </label><br>
                        
                            <input type="checkbox" id="german" name="german" value="german">
                            <label for="german"> German </label><br>
                        
                            <input type="checkbox" id="spanish" name="spanish" value="spanish">
                            <label for="spanish"> Spanish </label><br>
    
    
                            <input type="checkbox" id="polish" name="polish" value="polish">
                            <label for="polish"> Polish </label><br>
                        
                    </form>
                

                       </div>
                      </div>
                     </div>
                    </div>     
    </form>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="size"><h5>About Brand</h5></label>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
       
      <form>

           <input type="checkbox" id="vans" name="vans" (click)="addDelChoice('clothes','vans')" value="vans">
           <label for="vans"> Vans </label><br>

           <input type="checkbox" id="nike" name="nike" (click)="addDelChoice('clothes','nike')" value="nike">
           <label for="nike"> Nike </label><br>

           <input type="checkbox" id="adidas" name="adidas" (click)="addDelChoice('clothes','adidas')" value="adidas">
           <label for="adidas"> Adidas </label><br>
      
           <input type="checkbox" id="rebook" name="rebook" (click)="addDelChoice('clothes','rebbok')" value="rebook">
           <label for="rebook"> Rebook </label><br>
      
           <input type="checkbox" id="convers" name="convers" (click)="addDelChoice('clothes','convers')" value="convers">
           <label for="convers"> Convers </label><br>
      
           <input type="checkbox" id="zara" name="zara" (click)="addDelChoice('clothes','zara')" value="zara">
           <label for="zara"> Zara </label><br>
      
           <input type="checkbox" id="vintage" name="vintage" (click)="addDelChoice('clothes','vintage')" value="vintage">
           <label for="vintage"> Vintage </label><br>

           <input type="checkbox" id="hem" name="hem" (click)="addDelChoice('clothes','hem')" value="hem">
           <label for="hem"> H&M </label><br>

           
           <input type="checkbox" id="fila" name="fila" (click)="addDelChoice('clothes','fila')" value="fila">
           <label for="fila"> FILA </label><br>
 
           <input type="checkbox" id="pandora" name="pandora" (click)="addDelChoice('clothes','pandora')" value="pandora">
           <label for="pandora"> Pandora </label><br>
 
           <input type="checkbox" id="brosway" name="brosway" (click)="addDelChoice('clothes','brosway')" value="brosway">
           <label for="brosway"> Brosway </label><br>
      
           <input type="checkbox" id="tiffany" name="tiffany" (click)="addDelChoice('clothes','tifany')" value="tiffany">
           <label for="tiffany"> Tiffany & Co. </label><br>
      
           <input type="checkbox" id="kidult" name="kidult" (click)="addDelChoice('clothes','kidult')" value="kidult">
           <label for="kidult"> Kidult </label><br>
      
           <input type="checkbox" id="dodo" name="dodo"  (click)="addDelChoice('clothes','dodo')" value="dodo">
           <label for="dodo"> Dodo </label><br>
      
           <input type="checkbox" id="aeternum" name="aeternum" (click)="addDelChoice('clothes','aeternum')" value="aeternum">
           <label for="aeternum"> Aeternum </label><br>
 
           <input type="checkbox" id="axentia" name="axentia" (click)="addDelChoice('clothes','axentia')" value="axentia">
           <label for="axentia"> Axentia </label><br>

         
        </form> 
        

        <form style="margin-left: 5em;">

                    <input type="checkbox" id="bershka" name="bershka"(click)="addDelChoice('clothes','bershka')" value="bershka">
                    <label for="bershka"> Bershka </label><br>

                    <input type="checkbox" id="stradivarius" name="stradivarius" (click)="addDelChoice('clothes','stradivarius')" value="stradivarius">
                    <label for="stradivarius"> Stradivarius </label><br>

                    <input type="checkbox" id="benetton" name="benetton" (click)="addDelChoice('clothes','benetton')" value="benetton">
                    <label for="benetton"> United Colors of Benetton </label><br>
              
                    <input type="checkbox" id="pullbear" name="pullbear"(click)="addDelChoice('clothes','pullbear')" value="pullbear">
                    <label for="pullbear"> Pull&Bear </label><br>
              
                    <input type="checkbox" id="carpisa" name="carpisa"(click)="addDelChoice('clothes','carpisa')" value="carpisa">
                    <label for="carpisa"> Carpisa </label><br>
              
                    <input type="checkbox" id="pandora" name="pandora" (click)="addDelChoice('clothes','pandora')" value="pandora">
                    <label for="pandora"> Pandora </label><br>
              
                    <input type="checkbox" id="gucci" name="gucci" (click)="addDelChoice('clothes','gucci')"value="gucci">
                    <label for="gucci"> Gucci </label><br>

                    <input type="checkbox" id="asus" name="asus" (click)="addDelChoice('clothes','asus')"  value="asus">
                    <label for="asus"> Asus </label><br>
      
                    <input type="checkbox" id="apple" name="apple" (click)="addDelChoice('clothes','apple')" value="apple">
                    <label for="apple"> Apple </label><br>
          
                    <input type="checkbox" id="huawei" name="huawei"(click)="addDelChoice('clothes','huawei')"  value="huawei">
                    <label for="huawei"> Huawei </label><br>
          
                    <input type="checkbox" id="samsung" name="samsung" (click)="addDelChoice('clothes','xiaomi')" value="samsung">
                    <label for="samsung"> Samsung </label><br>
               
                    <input type="checkbox" id="xiaomi" name="xiaomi"(click)="addDelChoice('clothes','xiaomi')"  value="xiaomi">
                    <label for="xiaomi"> Xiaomi </label><br>
               
                    <input type="checkbox" id="carpisa" name="carpisa" (click)="addDelChoice('clothes','carpisa')" value="carpisa">
                    <label for="carpisa"> Carpisa </label><br>
               
                    <input type="checkbox" id="kaimano" name="kaimano" (click)="addDelChoice('clothes','kaimano')" value="kaimano">
                    <label for="kaimano"> Kaimano </label><br>
               
                    <input type="checkbox" id="guzzini" name="guzzini" (click)="addDelChoice('clothes','guzzini')" value="guzzini">
                    <label for="guzzini"> Guzzini </label><br>
          
                    <input type="checkbox" id="tupperware" name="tupperware" (click)="addDelChoice('clothes','tupperware')" value="tupperware">
                    <label for="tupperware"> Tupperware </label><br>

                  </form>


        </div>
      </div>
     </div> 
    </div>



<br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        
        <button class="primary-btn"  (click)="save()" [disabled]="this.disabled">
          <i class="fa fa-check-square"></i>  &#160; Save
        </button>
      </div>
      <div *ngIf="myUser.firstLogin">
        <button class="primary-btn"  (click)="skip()" >
          <i class="fa fa-fast-forward"></i>  &#160; Skip
        </button>
      </div>
      </div>

</div>
  