<div ngbDropdown>
    <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Toggle</button>
    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>